DB_HOST=localhost
DB_PORT=5434
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
SECRET_KEY=long_random_secret
ALGORITHM=HS256

MAIL_USERNAME=your Gmail address
MAIL_PASSWORD=your Gmail app password
MAIL_FROM=your Gmail address
